<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ GTM_CONTAINER }}');</script>
    <!-- End Google Tag Manager -->

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": ["VideoGame","MobileApplication"],
      "gamePlatform": ["iOS","Android"],
      "image": "{{ GAME IMAGE }}",
      "name": "{{ GAME NAME }}",
      "description": "{{ DESCRIPTION }}",
      "url": "{{ GAME URL }}",

      "genre": [{{ CATEGORIES }}],

      "author":{
        "@type":"Organization",
        "name":"Lucre Games",
        "url":"http://lucregames.com"
      },

      "publisher": {
        "@type":"Organization",
        "name":"Lucre Games",
        "url":"http://lucregames.com"
      },

      "audience":{
        "@type":"PeopleAudience",
        "requiredMinAge":"4"
      },

      "video": {
        "@type" : "http://schema.org/VideoObject",
        "caption" : "{{ GAME NAME }} Trailer",
        "description" : {{ GAME DESCRIPTION }}
        "url" : {{ TRAILER URL }}
      }
    }
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>{{ GAME DESCRIPTION }}</title>
    <meta name="description" content="Frontend web developer, game designer, and artist in Sacramento.">
    <meta name="keywords" content="Web Developer, Sacramento, Frontend Developer, Engineer, Artist, Game Developer, HTML, CSS, Vue, Laravel, PHP, JavaScript">
    <meta property="og:title" content="Eric Howard" />
    <meta property="og:description" content="Frontend web developer, game designer, and artist in Sacramento." />
    <meta property="og:url" content="http://eric-howard.com" />
    <meta property="og:site_name" content="Eric Howard" />
    <meta property="og:image" content="http://eric-howard.com/static/img/eric-howard-social.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@theLucre" />
    <meta name="twitter:creator" content="@theLucre" />
    <meta property="twitter:url" content="http://bits.blogs.nytimes.com/2011/12/08/a-twitter-for-my-sister/" />
    <meta property="twitter:title" content="Eric Howard" />
    <meta property="twitter:description" content="Frontend web developer, game designer, and artist in Sacramento." />
    <meta property="twitter:image" content="http://eric-howard.com/static/img/eric-howard-social.png" />

    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ GAME_NAME }}">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_CONTAINER }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>
      NO JS?!
    </noscript>
    <div id="app" v-cloak></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
